zsh/history
zsh/cache
zsh/ironport
*/cached_headers
.DS_Store
*.swp
*~
elinks/*hist
elinks/cookies
xmonad/xmonad
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad.errors
xmonad/xmonad-x86_64-linux
.hg
.hgignore
*.elc
emacs.d/emms
emacs.d/tramp
emacs.d/games/tetris-scores
emacs.d/pkg-init/cm-netapp.el
emacs.d/eshell/history
emacs.d/eshell/lastdir
vim/.netrwhist
