zsh/history
zsh/cache
zsh/ironport
*/cached_headers
.DS_Store
*.swp
*~
.\#*
elinks/*hist
elinks/cookies
xmonad/xmonad
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad.errors
xmonad/xmonad-x86_64-linux
.hg
.hgignore
*.elc
emacs.d/emms
emacs.d/boot.el
emacs.d/bbdb
emacs.d/org-clock-save.el
emacs.d/tramp
emacs.d/games/tetris-scores
emacs.d/pkg-init/cm-netapp.el
emacs.d/eshell/history
emacs.d/eshell/lastdir
emacs.d/url/cookies
emacs.d/bookmarks
emacs.d/image-dired
emacs.d/semanticdb
emacs.d/.org-id-locations
vim/.netrwhist
xmonad/xmonad-x86_64-darwin
emacs.d/boot.html
pentadactyl/info
.emacs.desktop*
ac-comphist.dat
