*.elc
*.o
*.so
*.swp
*/cached_headers
*~
.DS_Store
.\#*
.emacs.desktop*
.hg
.hgignore
/elinks/*hist
/elinks/cookies
/emacs.d/.org-id-locations
/emacs.d/ac-comphist.dat
/emacs.d/bbdb
/emacs.d/bookmarks
/emacs.d/boot.el
/emacs.d/boot.html
/emacs.d/eln-cache
/emacs.d/elpa/**/emacsql-sqlite.darwin
/emacs.d/elpa/archives/
/emacs.d/elpa/pdf-tools-*/epdfinfo
/emacs.d/elpa/vterm*/build
/emacs.d/emms
/emacs.d/eshell/history
/emacs.d/eshell/lastdir
/emacs.d/games/tetris-scores
/emacs.d/image-dired
/emacs.d/org-clock-save.el
/emacs.d/org-roam.db
/emacs.d/pkg-init/cm-netapp.el
/emacs.d/places
/emacs.d/projectile-bookmarks.eld
/emacs.d/projectile.cache
/emacs.d/recentf
/emacs.d/request
/emacs.d/semanticdb
/emacs.d/tramp
/emacs.d/url/
/emacs.d/url/cookies
/fluxbox/fbrun_history
/notion/default-session-*
/notion/default-session--0/saved_queryhist.lua
/pentadactyl/info
/vim/.netrwhist
/xmonad/xmonad
/xmonad/xmonad-x86_64-darwin
/xmonad/xmonad-x86_64-linux
/xmonad/xmonad.errors
/xmonad/xmonad.hi
/xmonad/xmonad.o
/zsh/cache
/zsh/history
/zsh/ironport
ac-comphist.dat
