[Unit]
Description=BitlBee IRC/IM gateway

[Service]
Type=simple
EnvironmentFile=/home/jmickey/config/env-arch
ExecStart=/usr/sbin/bitlbee -D -n -v -d /home/jmickey/.config/bitlbee -i ::1 -P /run/user/1000/bitlbee.pid
Restart=always

[Install]
WantedBy=default.target
