[Unit]
Description=calendarsync runner

[Service]
EnvironmentFile=/home/codemac/config/systemd/environment.conf
Type=oneshot
ExecStart=/home/codemac/bin/calendarsync
TimeoutSec=600s
