[Unit]
Description=Scribble to the Scrobble to the Wiggle to the Woggle
Requires=mpd.service
After=mpd.service

[Service]
ExecStart=/home/codemac/.guix-profile/bin/mpdscribble --no-daemon

[Install]
WantedBy=default.target