[Unit]
Description=Sound Service

[Service]
EnvironmentFile=/home/jmickey/config/env-arch
#ExecStart=/home/jmickey/.guix-profile/bin/pulseaudio --daemonize=no
ExecStart=/bin/pulseaudio --daemonize=no
Restart=on-failure

[Install]
Also=pulseaudio.socket
WantedBy=default.target
