[Unit]
Description=Sound Service

[Service]
EnvironmentFile=/home/codemac/.config/env-xorg
ExecStart=/usr/bin/pulseaudio --daemonize=no
Restart=on-failure

[Install]
Also=pulseaudio.socket
WantedBy=default.target
