[Unit]
Description=Redshift
After=xorg@0.service trayion.service
Requires=xorg@0.service trayion.service

[Service]
ExecStart=/usr/bin/redshift-gtk
Restart=always
EnvironmentFile=/home/jmickey/config/env-arch
KillSignal=SIGKILL

[Install]
WantedBy=main.target
