[Unit]
Description=Simple X11 HotKey Daemon
Requires=xorg@0.service window-manager.service initx.service nm-applet.service
After=xorg@0.service window-manager.service initx.service nm-applet.service

[Service]
ExecStart=/usr/bin/sxhkd
Restart=always
EnvironmentFile=/home/jmickey/config/env-arch
KillMode=process

[Install]
WantedBy=main.target
