[Unit]
Description=volume icon
Requires=xorg@0.service dbus.service trayion.service 
After=xorg@0.service trayion.service

[Service]
#ExecStart=/home/jmickey/.guix-profile/bin/volumeicon
ExecStart=/bin/volumeicon
EnvironmentFile=/home/jmickey/config/env-arch

[Install]
WantedBy=main.target
