[Unit]
Description=xbanish

[Service]
ExecStart=/usr/bin/xbanish
Restart=always
EnvironmentFile=/home/jmickey/config/env-arch

[Install]
WantedBy=main.target
